@use 'variables' as *;
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

:root {
  --background-color: 0, 0, 0;
  --foreground-color: 255, 255, 255;
  --principal-color: 24, 210, 111;
  --principal-color-rgb: 23, 113, 64;
  --secondary-color: 6, 182, 212;
  --border-color: 30, 30, 30;
}


html{
  scroll-behavior: smooth;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  color: rgb($foreground-color);
}

body {
  background-color: rgb($background-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}




body.light_mode {
  --background-color: 250, 250, 250;
  --foreground-color: 0, 0, 0;
  --principal-color: 22, 186, 99;
  --principal-color-rgb: 22, 186, 99;
  --border-color: 210, 210, 210;
  
}

body.palette2 {
  --principal-color: 168, 85, 247;
  --principal-color-rgb: 88, 28, 135;
  &.light_mode{
    --principal-color-rgb: 68, 85, 247;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  user-select: none;
}

button {
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

p{
  font-weight: bold;
  font-family: var(--font-roboto-mono);
}

mark {
  max-width: max-content;
  font-size: 0.75rem;
  font-weight: 600;
  color: white;            
  background-color: rgba($principal-color, 0.8);
  padding: 5px 10px;
  border-radius: 99px;
  transition: background 0.3s ease-in-out;
  margin: auto;  
  z-index: 1;      
  
  &:hover {
    background-color: rgba($principal-color, 0.6);
  }
}

.app {
  background-color: rgb($background-color);
  transition: background-color 0.3s ease-in-out;
}

.scrol {
  height: 100vh;
}

.tw-sections {
  position: relative;
  .backgrounds {
    z-index: 0;
    position: absolute;
    inset: 0;
    background-image: linear-gradient(
      to bottom,
      rgba($background-color, 0), 
      rgba($principal-color-rgb, .2)
    );
  }
}

.scroll-hidden{
  overflow: hidden !important;
}