@use 'variables' as *;

@mixin futiristic_background(){
    background-image: linear-gradient(to bottom, rgba($principal-color-rgb, 0.3)0% 20%, transparent);
}

@mixin futiristic_background_2(){
    background-image: linear-gradient(to right, 
    rgba(128, 128, 128, 0.071) 1px, transparent 1px), 
    linear-gradient(to bottom, #80808012 1px, transparent 1px);
}

@mixin buttons() {
    display: flex;
    align-items: center;
 
    font-weight: 600;
    font-size: 0.7rem;
    line-height: 0.6rem;
    
    height: 2rem;
    padding: 0.3rem .6rem;
    border-radius: 6px;    
}