:root {
    --background-color: 0, 0, 0;
    --foreground-color: 255, 255, 255;
    --principal-color: 24, 210, 111;
    --principal-color-rgb: 23, 113, 64;
    --secondary-color: 6, 182, 212
}



//Variables
$background-color: var(--background-color);
$background-color-rgb: var(--background-color);

$foreground-color: var(--foreground-color);

$principal-color: var(--principal-color);
$principal-color-rgb: var(--principal-color-rgb);

$secondary-color: var(--secondary-color);


