



//Variables
$background-color: var(--background-color);
$background-color-rgb: var(--background-color);
$border-color: var(--border-color);

$foreground-color: var(--foreground-color);

$principal-color: var(--principal-color);
$principal-color-rgb: var(--principal-color-rgb);

$secondary-color: var(--secondary-color);


