//Variables
$background-color: black;
$background-color-rgb: rgb(0, 0, 0);

$foreground-color: white;

$principal-color: #a855f7;
$principal-color-rgb: rgb(88, 28, 135);

/* $principal-color: rgb(24, 210, 111);
$principal-color-rgb: rgb(28, 135, 76); */

$secondary-color: #06b6d4;
$secondary-color-rgb: rgb(6, 182, 212);


