@use '../../styles/mixins' as *;
@use '../../styles/variables' as *;
@use 'sass:color';

.floating_button{
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    z-index: 1000;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    background-color: $principal-color;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;

    &:hover {
        background-color: rgba($principal-color, .6);
        transform: scale(1.05);
    }

    .icon {
        font-size: 1.5rem;
        color: white;
        transition: color 0.3s ease;
        background: transparent;
        border: none;

        &:hover {
            color: rgba(white, .2);
        }
    }
}